
<% if @posts.any? %>
  <div id="posts">
    <%= render 'posts' %>
  </div>
  <div class="text-center" id="paginator">
    <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more' %>
  </div>
<% else %>
  <div class="form-group text-center">
    No posts yet
  </div>
<% end %>
<div class="form-group text-center">
  <%= link_to 'Add Post', new_post_path %>
</div>
