
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
<% else %>
  <div class="form-group text-center">
    No posts yet
  </div>
<% end %>
<div class="form-group text-center">
  <%= link_to 'Add Post', new_post_path %>
</div>
